.input[type=text] {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.544);
    background: none;
    outline: none;
    display: block;
    color: white;
}

.input[type=text]:focus {
    font-weight: bold;
    border-bottom: 1px solid white;
}