.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.nav>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0 var(--pagePaddingHorizontal);
    max-width: var(--pageWidth);
    position: relative;
    margin: 0 auto;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav a {
    padding: 20px;
    display: block;
    color: white;
}

.nav a {
    padding: 20px;
    padding-left: 0;
    display: block;
    color: white;
}

.title {
    color: white;
    font-size: 20px;
}

.toggle {
    cursor: pointer;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    display: none;
}

.toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

.toggle span:first-child {
    transform-origin: 0% 0%;
}

.toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

.toggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #8e8e8e;
}

.toggle input:checked~span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.toggle input:checked~span:nth-last-child(1) {
    transform: rotate(-45deg) translate(0, -4px);
}

@media only screen and (max-width: 800px) {
    .links {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        position: fixed;
        background: rgb(32, 0, 34);
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        transform: translate(100%, 0);
    }
    .nav a {
        padding-left: var(--pagePaddingHorizontal);
    }
    .nav .title {
        padding-left: 0;
    }
    .toggle {
        display: block;
    }
}