.footer>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 50px var(--pagePaddingHorizontal);
    max-width: var(--pageWidth);
    position: relative;
    margin: 0 auto;
}

.footer a.title {
    font-size: 18px;
    color: rgb(32, 0, 34);
    padding: 0;
}

.footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer a {
    padding: 20px;
    display: block;
    font-size: 14px;
}